<%- include("navbar.ejs") %>

<div class="container">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center align-items-center text-center gradient-background heading">
            <h3 class="text-dark" style="font-weight: 600;">Add FAQ's</h3>
        </div>
    </div>
    <div class="row mt-5">
        <form action="/admin/add_FAQs" method="post" class="m-4" enctype="multipart/form-data">
            <div class="row">
              <div class="col-md-12">
                Add FAQ's
                <textarea class="form-control " rows="4" name="faq_name"></textarea>
            </div>
              <div class="col-md-12 d-flex justify-content-center mt-4">
                  <button class="btn btn-success">Add</button>
                </div>
            </div>
        </form>
    </div>
</div>

<table class="table table-success table-striped table-bordered mt-4">
  <tr>
      <th>Action</th>
      <th>SrNO</th>
      <th>FAQ's Name</th>
  </tr>
  <%for(var i=0;i<FAQ_data.length;i++) {%>
  <tr>
    <td>
      <a href="/admin/delete_FAQ_data/<%=FAQ_data[i].FAQ_det_id %>" onclick="return confirm('Are You Sure?')">
        <i class="fa fa-trash text-danger fs-4"></i>
      </a>
    </td>   
     <td><%=i+1%></td>
    <td><%=FAQ_data[i].faq_name%></td>  
</tr>
<%}%></table>

<%- include("footer.ejs") %>
