<%-include('navbar.ejs')%>

<div class="container">
    <div class="row">
        <div class="col-md-12 heading text-center">
            <h3>Edit Alumini</h3>
        </div>
    </div>
</div>
<form action="/admin/update_alumini" method="post" enctype="multipart/form-data">
<input type="hidden" name="alumini_id" id="" value="<%=alumini.alumini_id%>">
<div class="container">
    <div class="row my-4">
        <div class="col-md-3">
            <h6><b> Alumini Photo :</b></h6><input type="file" name="alumini_img" id="" class="form-control" >
        </div>
        <div class="col-md-3">
            <img src="/uploads/<%=alumini.alumini_img%>" alt="" height="100px" width="150px" style="margin-left: 50px;" >

        </div>
        <div class="col-md-6">
           <h6><b>Alumini Name :</b></h6> <input type="text" name="alumini_name" id="" class="form-control" value="<%=alumini.alumini_name%>">
        </div>
    </div>
    <div class="row my-4">
        <div class="col-md-6">
            <h6><b> Alumini STD :</b></h6><input type="text" name="alumini_std" id="" class="form-control" value="<%=alumini.alumini_std%>">
        </div>
        <div class="col-md-6">
           <h6><b>Alumini Percent :</b></h6> <input type="text" name="alumini_percent" id="" class="form-control" value="<%=alumini.alumini_percent%>">
        </div>
    </div>
    <div class="row my-4">
        <div class="col-md-6 d-grid gap-2 mx-auto">
            <button class="btn btn-primary" type="submit">Save</button>

        </div>
    </div>
</div>
</form>

<%-include('footer.ejs')%>