<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Bootstrap 5.3 CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>

    <!-- Custom Stylesheets -->
    <link rel="stylesheet" type="text/css" href="/user/master.css">
    <link rel="stylesheet" type="text/css" href="/user/login_register.css">
    <link rel="stylesheet" type="text/css" href="/user/profile.css">
    <link rel="stylesheet" type="text/css" href="/user/homepage.css">
    <link rel="stylesheet" type="text/css" href="/user/about.css">
    <link rel="stylesheet" type="text/css" href="/user/event.css">
    <link rel="stylesheet" type="text/css" href="/user/event2.css">
    <link rel="stylesheet" type="text/css" href="/user/alumini.css">
    <link rel="stylesheet" type="text/css" href="/user/admission.css">
    <link rel="stylesheet" type="text/css" href="/user/contact.css">
    <link rel="stylesheet" type="text/css" href="/user/department.css">
    <link rel="stylesheet" type="text/css" href="/user/faci/facility.css">


    <!-- ---Aos animation -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <!-- JavaScript -->
    <script src="https://kit.fontawesome.com/a06e4ae993.js" crossorigin="anonymous"></script>
    <script src="user/practice.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="user/about.js"></script>
    <script src="user/home.js"></script>

    <style>
         .heading {
      background-image: linear-gradient(50deg, 
                                    #007bff 0%, #007bff 20px, 
                                    #ffffff 20px, #ffffff 30px, 
                                    #007bff 30px, #007bff 30px, 
                                    #ffffff 50px, #007bff 70px);
    }

    a {
      text-decoration: none;
    }
    </style>

</head>

<body>

    <div class="container-fluid header1 ">
        <div class="row ps-5 px-5">
            <div class="col-lg-8 col-md-2 ">
                <img class="mb-1"
                    src="/admin/uploads/<%=social_info.main_logo%>"
                    height="70px" width="25%">
            </div>

            <div class="col-lg-4 col-md-2 " >
                <ul >
                    <li class="ps-3">
                        <a href="<%=social_info.twiter_link%>"> <i class="fab fa-twitter ps-1"></i> </a>
                    </li>
                    <li class="ps-3">
                        <a href="<%=social_info.facebook_link%>"> <i class="fab fa-facebook ps-1"></i> </a>
                    </li>
                    <li class="ps-3">
                        <a href="<%=social_info.youtube_link%>"> <i class="fab fa-youtube ps-1"></i> </a>
                    </li>
                    <li class="ps-3">
                        <a href="<%=social_info.google_link%>"> <i class="fab fa-google-plus-g ps-1"></i> </a>
                    </li>
                   
                    <%if(userName.length>0){%>
                        <li class="ps-3 loginame" >
                            <input type="text" name="" id="welcomeUser" value="Welcome <%=userName[0].std_username%>" readonly style="width: 180px; border: none; outline: none;"><i class="fa-logout"></i>                        
                        </li>
                  <%}else{%>
                         <a href="/login" class="loginn"><p class="text-dark text-center ">User Login</p></a>
                    <%}%>
                    <%if(userName.length>0){%>
                        <div class="loginame">
                      <a href="/user_logout" onclick="return confirm('Logout')" class="logout"><p class=" text-dark"   ><i class="fa-solid fa-right-from-bracket"></i> </p></a> 
                    </div>
                      <%}%>
                </ul>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row p-0">
            <div class="col-12 p-0">
                <nav class="navbar navbar-expand-lg" style="background-color: #2446A2; ">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#">
                            <!-- <img class="mb-1"
                    src="/admin/uploads/<%=social_info.main_logo%>"
                    height="70px" width="25%"> -->
                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link text-white active hover-line" aria-current="page"
                                        href="/">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white hover-line" aria-current="page"
                                        href="/about">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white hover-line" aria-current="page" href="/admission">Admission</a>
                                </li>
                                <li class="nav-item dropdown ">
                                    <a class="nav-link dropdown-toggle text-white" href=""  role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                      Academic
                                    </a>
                                    <ul class="dropdown-menu " style="background-color:#2446A2;">
                                      <li><a class="dropdown-item text-white" href="/department" style="background-color: #2446A2;">Departments</a></li>
                                      <li><hr class="dropdown-divider"></li>
                                      <li><a class="dropdown-item text-white" href="/alumini" style="background-color: #2446A2;">Alumini</a></li>
                                      <li><hr class="dropdown-divider"></li>

                                      <li><a class="dropdown-item text-white" href="/student_monitor" 
                                        style="background-color: #2446A2;">Student Monitoring</a></li>
                                    </ul>
                                  </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white hover-line" aria-current="page" href="/event">News &
                                        Events</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white hover-line" aria-current="page"
                                        href="/facility">Facilities</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white hover-line" aria-current="page"
                                        href="/contact">Contact Us</a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>

    <!-- Add your Bootstrap 5.3 carousel code here -->


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz4fnFO9gyb4W6JX5R9G1lW6dbO1i5dsp9Fj5MKjY02IWvBSjI4e5rJ6iF"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
        integrity="sha384-mQ93ZY8naK9MWvbMRaLOq6LvWB14txI1lS4FmrU/FB0hDmrKjQ6Y7AR8WYPB5w0o"
        crossorigin="anonymous"></script>

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js" integrity="sha384-XXXXX"
        crossorigin="anonymous"></script>
   
        <script>
            document.addEventListener('DOMContentLoaded', (event) => {
                const userName = '<%= userName.length > 0 ? userName[0].std_username : "" %>';
                if (userName) {
                    const firstName = userName.split(" ")[0];
                    document.getElementById('welcomeUser').value = `Welcome ${firstName}`;
                }
            });
        </script>

</body>

</html>